---
title: Elaqe
---

<section class="section section-wrapper">
    <div class="container">
        <h1 class="content-title">Elaqe</h1>
        <div class="row">
            <div class="col-md-7">
                <form class="form form-calculate bg-white">
                    <div class="form-row">
                        <div class="col-12 col-md-6 form-group">
                            <input type="text" class="form-control" placeholder="Ad">
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <input type="text" class="form-control" placeholder="Soyad">
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <input type="email" class="form-control" placeholder="Telefon nomresi">
                        </div>
                        <div class="col-12 form-group">
                            <textarea class="form-control" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-registration mt-0 ml-2">Gonder</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div class="address-item">
                    <img src="img/c-1.svg" alt="">
                    Ünvan: Baki, Yasamal 12345
                </div>
                <div class="address-item">
                    <img src="img/c-3.svg" alt="">
                    Telefon: <a href="tel:">+994 55 555 55 55</a>
                </div>
                <div class="address-item">
                    <img src="img/c-4.svg" alt="">
                    Email: <a href="mailto:">lorem@shans.az</a>
                </div>
            </div>
        </div>
    </div>
</section>


