---
title: Tənzimləmələr
---

<section class="section section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-9 col-xl-12">
                <div class="content-block">
                    <h1 class="content-title pl-3 pl-md-0">Tənzimləmələr</h1>
                    <form class="form form-calculate">
                        <div class="form-row">
                            <div class="col-12 col-md-4 form-group">
                                <input type="text" class="form-control readonly" placeholder="Ad">
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <input type="text" class="form-control " placeholder="Soyad">
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <input type="email" class="form-control readonly" placeholder="Email">
                            </div>

                            <div class="col-12 col-md-4 form-group readonly">
                                <div class="datepicker-regist">
                                    <input type="text" data-id="date" class="form-control date-input" placeholder="Doğum tarixi">
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 form-group readonly">
                                <select class="nice-select js-nice-select">
                                    <option value="1">Cinsi</option>
                                    <option value="2">Kishi</option>
                                    <option value="3">Qadin</option>
                                </select>
                            </div>
                            <div class="form-group cv-form-group col-md-4">
                                <div class="button-wrap form-control">
                                    <label class ="new-button" for="upload1">
                                        <img src="img/input-5.svg" class="pr-2" alt="">
                                        <span class="cv-inner">Profil şəkili</span>
                                        <input id="upload1" class="input-upload" type="file" required>
                                    </label>
                                    <span class="cv-delete"><i class="fa fa-close"></i></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 form-group">
                                <select class="nice-select js-nice-select category-select">
                                    <option value="1">Unvan</option>
                                    <option value="2">Another option</option>
                                    <option value="3">A disabled option</option>
                                    <option value="4">Potato</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg-4 form-group drop-category">
                                <select class="nice-select js-nice-select">
                                    <option value="1">Alt kategoria</option>
                                    <option value="2">Another option</option>
                                    <option value="3">A disabled option</option>
                                    <option value="4">Potato</option>
                                </select>
                            </div>

                            <div class="col-12 col-lg-4 form-group">
                                <select class="nice-select js-nice-select">
                                    <option value="1">Peshe</option>
                                    <option value="2">Another option</option>
                                    <option value="3">A disabled option</option>
                                    <option value="4">Potato</option>
                                </select>
                            </div>

                            <div class="col-12 form-group col-md-8">
                                <div class="regist-multi">
                                    <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-12 col-md-4 form-group">
                                <div class="pass">
                                    <input id="password" type="password" class="form-control pass-eye" placeholder="Kohne shifre">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <div class="pass">
                                    <input id="password" type="password" class="form-control pass-eye" placeholder="Yeni shifrə">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <div class="pass">
                                    <input id="confirm_password" type="password" class="form-control pass-eye" placeholder="Yeni shifrənin təkrarı">
                                </div>
                            </div>


                            <div class="col-12 col-md-4 form-group">
                                <input type="text" class="form-control phone" placeholder="Mobil nomre">
                            </div>
                            <div class="col-12 col-lg-4 form-group">
                                <select class="nice-select js-nice-select">
                                    <option value="1">Ish tecrubesi</option>
                                    <option value="2">0-6 ay</option>
                                    <option value="3">1 il</option>
                                    <option value="4">2 il</option>
                                    <option value="5">3 il</option>
                                    <option value="6">4 il</option>
                                    <option value="7">5 il</option>
                                    <option value="8">5+ il</option>
                                </select>
                            </div>

                            <div class="col-12 form-group col-md-6">
                                <div class="regist-multi">
                                    <select class="js-example-basic-multiple-days" name="states[]" multiple="multiple">
                                        <option value="WY">Bazar ertəsi</option>
                                        <option value="WY">Çərşənbə axşamı</option>
                                        <option value="WY">Çərşənbə</option>
                                        <option value="WY">Cümə axşamı</option>
                                        <option value="WY">Cümə</option>
                                        <option value="WY">Şənbə</option>
                                        <option value="WY">Bazar</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 form-group">
                                <input class="days" type="text" placeholder="Saat"/>
                            </div>


                            <div class="col-12">
                                <p class="pr-sec-title">Shekiller</p>
                                <div class="form-row">
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload2">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 1</span>
                                                <input id="upload2" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload3">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 2</span>
                                                <input id="upload3" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload4">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 3</span>
                                                <input id="upload4" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload5">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 4</span>
                                                <input id="upload5" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload6">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 5</span>
                                                <input id="upload6" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <p class="pr-sec-title">Sertifikatlar</p>
                                <div class="form-row">
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class="new-button" for="upload7">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 1</span>
                                                <input id="upload7" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload8">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 2</span>
                                                <input id="upload8" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload9">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 3</span>
                                                <input id="upload9" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload10">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 4</span>
                                                <input id="upload10" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group cv-form-group col-6 col-md-4 col-lg">
                                        <div class="button-wrap form-control">
                                            <label class ="new-button" for="upload11">
                                                <img src="img/input-5.svg" class="pr-2" alt="">
                                                <span class="cv-inner">Shəkil 5</span>
                                                <input id="upload11" class="input-upload" type="file" required>
                                            </label>
                                            <span class="cv-delete"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 form-group">
                                <textarea class="form-control" placeholder="Ozunuz haqda melumat"></textarea>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-registration">Yadda saxla</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
            placeholder: "Peshe(alt kateoriya)",
        });

        $('.js-example-basic-multiple-days').select2({
            placeholder: "Heftenin gunleri",
        });

        $('.drop-category').hide();

        $(".category-select").change(function() {
            console.log(this)
            if ($(this).parent().find("div.category-select .list li.selected").attr('data-value') > 1){
                $(this).parent().parent().parent().find('.drop-category').show()
            }
            else {
                $(this).parent().parent().parent().find('.drop-category').hide()
            }
        });


        var today = new Date()
        var year = today.getFullYear()
        var month = today.getMonth()
        var day = today.getDate()
        var finalDate = new Date(year - 18, month, day)

        var date = $('[data-id="date"]');
        var locale = $('html').attr('lang');

        // Date
        date.each(function () {
            var _this = $(this);

            _this.flatpickr({
                "locale": locale,
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                disableMobile: true,
                maxDate: finalDate
            });
        });


    });


</script>
