---
title: Profil
---

<section class="section section-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group profile-list-group">
                    <li class="list-group-item">
                        <a href="#about">
                            Haqqında
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#photos">
                            Şəkil
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#cetificate">
                            Sertifikatlar
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="profile-edit.html">
                            Tənzimləmələr
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="profile-info">
                    <div class="media media-profile">
                        <div class="media-left">
                            <div class="profile-name" style="background-image: url(img/bg.jpeg);"></div>
                        </div>
                        <div class="media-body">
                            <p class="pr-name">Elmir Mammadli</p>
                            <p class="num">
                                Elaqe:
                                <a href="tel:+994552343434">+994 55 234-34-34</a>
                            </p>
<!--                            <p><span>Ish g</span></p>-->
                        </div>
                    </div>

                    <hr>

                    <div class="profile-about" id="about">
                        <p class="pr-about-title">
                            Haqqında
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet aut blanditiis doloremque facilis laborum natus optio pariatur repellendus, voluptas!
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur dicta eius eligendi eveniet ex id officia quod sed unde velit veniam vero, voluptas? Beatae corporis iste iure tenetur veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis consequatur eius enim, excepturi laboriosam laudantium natus, quia ratione recusandae saepe sed vel voluptate! Fugiat fugit laboriosam numquam officiis, vel velit veniam vero voluptatum! Doloremque esse est eveniet placeat suscipit.</p>
                    </div>

                    <hr>

                    <div class="photo-block" id="photos">
                        <p class="pr-about-title">
                            Şəkillər
                        </p>
                        <div class="row">
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-1.jpg" class="img-fluid" data-fancybox="images">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-1.jpg);"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-2.jpg" class="img-fluid" data-fancybox="images">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-2.jpg);"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-3.jpg" class="img-fluid" data-fancybox="images">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-3.jpg);"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-4.png" class="img-fluid" data-fancybox="images">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-4.png);"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-1.jpg" class="img-fluid" data-fancybox="images">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-1.jpg);"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="photo-block" id="cetificate">
                        <p class="pr-about-title">
                            Sertifikatlar
                        </p>
                        <div class="row">
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-1.jpg" class="img-fluid" data-fancybox="images2">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-1.jpg);"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-2.jpg" class="img-fluid" data-fancybox="images2">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-2.jpg);"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-3.jpg" class="img-fluid" data-fancybox="images2">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-3.jpg);"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-4.png" class="img-fluid" data-fancybox="images2">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-4.png);"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg col-6">
                                <div class="gallery-list">
                                    <a href="content/photo-1.jpg" class="img-fluid" data-fancybox="images2">
                                        <span class="gallery-list-img" style="background-image: url(content/photo-1.jpg);"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>
