---
title: Etrafli axtarish
---

<section class="section-search">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="search-filter">
                    <form class="form form-filter">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ad">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Soyad">
                        </div>
                        <div class="form-group">
                            <select class="nice-select js-nice-select">
                                <option value="1">Peşe</option>
                                <option value="2">Another option</option>
                                <option value="3">A disabled option</option>
                                <option value="4">Potato</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="nice-select js-nice-select">
                                <option value="1">Peşe (alt kateqoriya)</option>
                                <option value="2">Another option</option>
                                <option value="3">A disabled option option option option</option>
                                <option value="4">Potato</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="nice-select js-nice-select">
                                <option value="1">Unvan</option>
                                <option value="2">Another option</option>
                                <option value="3">A disabled option</option>
                                <option value="4">Potato</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="nice-select js-nice-select">
                                <option value="1">Unvan (alt kateqoriya)</option>
                                <option value="2">Another option</option>
                                <option value="3">A disabled option</option>
                                <option value="4">Potato</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6 m-0">
                                <input type="text" class="form-control" placeholder="Yaş (min)">
                            </div>
                            <div class="form-group col-6 m-0">
                                <input type="text" class="form-control" placeholder="Yaş (max)">
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="nice-select js-nice-select">
                                <option value="1">Cinsi</option>
                                <option value="2">Kishi</option>
                                <option value="3">Qadin</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="nice-select js-nice-select">
                                <option value="1">Ish tecrubesi</option>
                                <option value="2">0-6 ay</option>
                                <option value="3">1 il</option>
                                <option value="4">2 il</option>
                                <option value="5">3 il</option>
                                <option value="6">4 il</option>
                                <option value="7">5 il</option>
                                <option value="8">5+ il</option>
                            </select>
                        </div>
                        <button class="btn btn-search">Axtar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <div class="filter-result">
                    <div class="result-item">
                        Frontend developer
                        <button type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="result-item">
                        Riyaziyyat muellimi
                        <button type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="result-item">
                        Kimya muellimi
                        <button type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-search">
                            <div class="item-img" style="background-image: url(img/bg.jpeg);"></div>
                            <div class="card-body">
                                <p class="card-name">Elmir Mammadli</p>
                                <p class="card-text">Riyaziyyat muellimi</p>
                                <p class="card-locate">Baki, Azerbaycan</p>
                                <a href="#" class="btn btn-more">Etrafli</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pagination-results">
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li class="pagination-disabled">
                        <a href="#">...</a>
                    </li>
                    <li>
                        <a href="#">11</a>
                    </li>
                    <li>
                        <a href="#">12</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
