<header>
    <div class="container">
        <nav class="navbar navigation navbar-expand-lg">
            <a href="index.html" class="logo">
                <img src="img/logo.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <button class="btn btn-user d-lg-none" data-toggle="modal" data-target="#modal_login">
                <img src="img/user.svg" alt="">
            </button>

            <div class="collapse navbar-collapse mobile-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Ana sehife</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="haqqimizda.html">Haqqimizda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us.html">Elaqe</a>
                    </li>
                    <li class="d-none-down-md">
                        <button type="button" class="btn btn-user" data-toggle="modal" data-target="#modal_login">
                            <img src="img/user.svg" alt="">
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-logout" href="index.html">Cixish</a>
                    </li>
                </ul>
<!--                <ul class="navbar-nav navbar-login">-->
<!--                    <li>-->
<!--                        <button type="button" class="btn btn-user" data-toggle="modal" data-target="#modal_login">-->
<!--                            <img src="/img/user.svg" alt="">-->
<!--                        </button>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </nav>
    </div>
</header>


<!-- Login -->
<div class="modal fade modal-login" id="modal_login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Şəxsi kabinetə giriş</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form form-login">
                    <div class="form-group">
                        <label for="login_mail1">Email</label>
                        <input type="email" class="form-control" id="login_mail1">
                    </div>
                    <div class="form-group">
                        <label for="login_pass">Şifrə</label>
                        <input type="password" class="form-control" id="login_pass">
                    </div>
                    <a href="#" class="forgot-pass" data-dismiss="modal" data-toggle="modal" data-target="#modal_forget_pass">Şifrəni unutmusan?</a>
                    <a href="profile.html" type="submit" class="btn btn-login-modal mb-3">Daxil ol</a>
                    <a href="registration.html" type="submit" class="btn btn-sign-up-modal">Qeydiyyatdan keç</a>
                </form>
            </div>
        </div>
    </div>
</div>
