<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="tags for website">
<meta name="description" content="{{ description }}">
<meta name="author" content="">
<meta name="theme-color" content="#ffffff">
<title> {{ title }} </title>

<!-- injector:css -->
<link rel="stylesheet" href="css/design.min.css">

<link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">


<!-- endinjector -->

<!-- injector:js -->
<script src="js/min/assets/jquery.min.js"></script>
<script src="js/min/assets/bootstrap.min.js"></script>
<script src="js/min/assets/flatpickr.min.js"></script>
<script src="js/min/assets/dropzone.min.js"></script>
<script src="js/min/assets/jquery.nice-select.min.js"></script>
<script src="js/min/assets/jquery.fancybox.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="js/min/app.min.js"></script>

